<!DOCTYPE html>
<html>
  <head>
    <title>Epigaea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "ga" %>
  </head>

  <body>
    <%= render "analytics/tag_manger_body" %>
    <%= yield %>
  </body>
</html>
